mixin AppCarouselOfReviews(items = [])
	include parts/AppCarouselHeader
	include ReviewsItem

	-
		const reviews = [
			{},
			{
				content: `
					<p>Если вкратце, то отвечают на письма сразу же, все по делу, иногда могут ответить в нерабочее время
					(ответственность, она такая), готовы объяснить доступным языком любой процесс, готовы уделить время
					на дополнительное изучение вопроса, если он им не совсем знаком, если что-то надо добавить/поправить -
					исправляют/добавляют с первого раза как надо.</p>
				`,
				citeName: 'Cite Name',
				citeDescription: 'Cite Description'
			}
		]


	template
		.vue-swiper.app-carousel.app-carousel-of-reviews
			+AppCarouselHeader()

			.main
				.grid
					.grid-row
						.grid-cell
							base-icon.background-quote(name="open-quote")

							.swiper-container(ref="swiperContainer")
								.swiper-wrapper
									each review in reviews
										.swiper-slide
											reviews-item(inline-template)
												+ReviewsItem(review)
