mixin AppFooterNavOfSection(navList, navName = 'Section', navUrl = '')
	include AppFooterNav

	+AppFooterNav(navList).app-footer-nav-of-section&attributes(attributes)
		.hover-element(:style="hoverElementStyle")
		a.name(href=navUrl)= navName
