mixin AppFooter()
	include AppFooterNav
	include AppFooterNavOfSection

	-
		const [mainNav, devNav, seoNav, styleNav] = [
			[
				'Главная',
				'Услуги',
				'О компании',
				'Разработка',
				'Провижение',
				'Блог',
				'Цены',
				'Контакты'
			],
			[
				'Разработка сайта-визитки',
				'Разработка интернет-магазина',
				'Разработка корпоративного сайта',
				'Разработка сайта на 1С-Битрикс',
				'Разработка промо-сайта',
				'Разработка личного кабинета',
				'Разработка веб-дизайна',
				'Интеграция'
			],
			[
				'Продвижение по трафику',
				'Продвижение по запросам',
				'Провижение по лидам',
				'Вывод из-под санкций',
				'Контекстная реклама',
				'SEO продвижение'
			],
			[
				'Link 1',
				'Link 2',
				'Link 3',
				'Link 4',
				'Link 5',
			],
		]

	template
		footer.app-footer&attributes(attributes)
			.grid
				.title Контакты

				.zingy-projects
					.zingy-projects-copy
					.zingy-projects-copy
					.zingy-projects-copy
					.zingy-projects-copy
					.zingy-projects-copy

				.nav-action(v-if="windowWidth >= 768 && navLength > 1")
					button.nav-button.nav-button-prev(@click="navPrev")
						base-icon.nav-button-icon(name="angle-left")

					button.nav-button.nav-button-next(@click="navNext")
						base-icon.nav-button-icon(name="angle-left")

				.grid-row
					.grid-cell.grid-cell-of-contacts
						.contacts-grid
							.contacts-grid-cell
								.content.content-is-contacts
									p E-mail: #[br]#[a(href="mailto:zingy.projects@gmail.com") zingy.projects@gmail.com]
									p Телефон: #[br]#[a(href="tel:+79854575817") +7 (985) 457-58-17]

							.contacts-grid-cell
								social-links.social(:links=`[
									{name: 'vk', url: ''},
									{name: 'facebook', url: ''},
									{name: 'twitter', url: ''},
									{name: 'yandex-zen', url: ''},
									{name: 'instagram', url: ''},
									{name: 'youtube', url: ''}
								]`)

							.contacts-grid-cell
								.content.content-is-copyright
									p
										small #[a(href="" target="_blank") Политика конфиденциальности]

									p &copy;&nbsp;2008&ndash;2019. Все&nbsp;права&nbsp;защищены

					.grid-cell.grid-cell-of-main-nav
						app-footer-nav(inline-template)
							+AppFooterNav(mainNav)

					.grid-cell.grid-cell-of-nav(v-show="checkItem(0)")
						app-footer-nav-of-section(inline-template)
							+AppFooterNavOfSection(devNav, 'Разработка')

					.grid-cell.grid-cell-of-nav(v-show="checkItem(1)")
						app-footer-nav-of-section(inline-template)
							+AppFooterNavOfSection(seoNav, 'Продвижение')

					.grid-cell.grid-cell-of-nav(v-show="checkItem(2)")
						app-footer-nav-of-section(inline-template)
							+AppFooterNavOfSection(styleNav, 'Фирменный стиль')

					.grid-cell.grid-cell-of-nav(v-show="checkItem(3)")
						app-footer-nav-of-section(inline-template)
							+AppFooterNavOfSection(styleNav, 'SMM')

					.grid-cell.grid-cell-of-nav(v-show="checkItem(4)")
						app-footer-nav-of-section(inline-template)
							+AppFooterNavOfSection(styleNav, 'Поддержка')
