mixin AppFooterNav(navList = [])
	template
		nav.app-footer-nav&attributes(attributes)
			block

			.l-grid
				each item in navList
					.l-grid-item
						a.nav-item(href="")
							span.nav-item-text= item
