mixin AppHeaderNav()
	-
		const items =
			[
				['Главная', 'index.html'],
				['Услуги', 'services.html'],
				['О компании', 'about.html'],
				['Разработка', 'development.html'],
				['Продвижение', 'seo.html'],
				['Блог', 'blog.html'],
				['Контакты', 'contacts.html']
			]

	template#app-header-nav
		nav.app-header-nav
			.grid
				each item, index in items
					.grid-cell
						a.link(href=item[1])
							span.link-text= item[0]
