mixin AppPage()
	template
		.AppPage&attributes(attributes)
			.front-layout
				app-page-header(inline-template)
					include AppPageHeader
					+AppPageHeader()

				block

				app-page-footer(inline-template)
					include AppPageFooter
					+AppPageFooter()

			.back-layout
				zingy-section(inline-template)
					include ZingySection
					+ZingySection()

mixin AppPageIsIndex()
	+AppPage().AppPageIsIndex
		h2 Page Index
