include AppPageHeader
include AppPageFooter
include ZingySection

mixin AppPage()
	template
		.AppPage&attributes(attributes)
			.front-box
				app-page-header(inline-template)
					+AppPageHeader()

				.main
					block

				app-page-footer(inline-template)
					+AppPageFooter()

			.back-box
				zingy-section(inline-template)
					+ZingySection()
