mixin AppPageIsIndex()
	include AppPage
	include QuoteSection
	include PageSectionIsReviews

	+AppPage().AppPageIsIndex&attributes(attributes)
		quote-section(inline-template)
			+QuoteSection()

		page-section-is-reviews(inline-template)
			+PageSectionIsReviews()
