mixin AppPageFooter()
	-
		const [navMain, navDev, navSeo] = [
			[
				'Главная',
				'Разработка',
				'Провижение',
				'О компании',
				'Блог',
				'Цены',
				'Контакты'
			],
			[
				'Разработка сайта-визитки',
				'Разработка интернет-магазина',
				'Разработка корпоративного сайта',
				'Разработка сайта на 1С-Битрикс',
				'Разработка промо-сайта',
				'Разработка личного кабинета',
				'Разработка веб-дизайна',
				'Интеграция'
			],
			[
				'Продвижение по трафику',
				'Продвижение по запросам',
				'Провижение по лидам',
				'Вывод из-под санкций',
				'Контекстная реклама',
				'SEO продвижение'
			]
		]

	template
		footer.app-page-footer&attributes(attributes)
			.contentbox
				h2.heading Контакты
				.zingyprojects

				.contentgrid
					.contentgrid-item
						.contactsgrid
							.contactsgrid-item
								.text
									p E-mail: #[br]#[a(href="mailto:zingy.projects@gmail.com") zingy.projects@gmail.com]
									p Телефон: #[br]#[a(href="tel:+79854575817") +7 (985) 457-58-17]

							.contactsgrid-item
								v-sociallinks(inline-template)
									include VSociallinks
									+VSociallinks()

							.contactsgrid-item
								.text.textcopyright
									p &copy;&nbsp;2008&ndash;2019. Все&nbsp;права&nbsp;защищены

					.contentgrid-item
						app-page-footer-nav(inline-template)
							include AppPageFooterNav
							+AppPageFooterNav(navMain)

					.contentgrid-item
						app-page-footer-nav-ext-section(inline-template)
							+AppPageFooterNavExtSection(navDev, 'Разработка')

					.contentgrid-item
						app-page-footer-nav-ext-section(inline-template)
							+AppPageFooterNavExtSection(navSeo, 'Продвижение')
