mixin AppPageHeader()
	template
		header.AppPageHeader&attributes(attributes)
			transition(
				appear
				appear-active-class="v-appear-active"
				:duration="600"
				@after-appear="startAnimateIsEnd = true"
			)
				.logo-box
					a.logo(
						href="/"
						title="Zingy Projects"
					)
						base-icon(icon-name="zingy")

			transition(:duration="{enter: 550, leave: 350}")
				.menu-button-box(
					v-show="startAnimateIsEnd && headerIsMinimized"
				)
					button.menu-button(type="button")
						base-icon(icon-name="menu")
