mixin AppPageIsIndex()
	include AppPage
	include QuoteSection
	include WorkSection
	include PageSection
	include ContentCarouselOfWorks
	include ContentCarouselOfReviews
	include PageSectionIsServices
	include FeedbackSection

	+AppPage().app-page-is-index&attributes(attributes)
		quote-section(inline-template)
			+QuoteSection()

		work-section(inline-template)
			+WorkSection()

		page-section(inline-template)
			+PageSection('Наши работы')
				content-carousel-of-works(inline-template)
					+ContentCarouselOfWorks()

		page-section(inline-template)
			+PageSection('Отзывы')
				content-carousel-of-reviews(inline-template)
					+ContentCarouselOfReviews()

		page-section-is-services(inline-template)
			+PageSectionIsServices()

		feedback-section(inline-template)
			+FeedbackSection()
