include AppPageHeader
include AppPageFooter
include ZingySection

mixin AppPage()
	template
		.host.app-page&attributes(attributes)
			.body
				app-page-header.header(inline-template)
					+AppPageHeader()

				.main
					block

				app-page-footer.footer(inline-template)
					+AppPageFooter()

			zingy-section(inline-template)
				+ZingySection()
