include AppHeader
include AppFooter

mixin AppPage()
	template
		.app-page&attributes(attributes)
			.body(ref="body")
				app-header.header(inline-template)
					+AppHeader()

				main.main
					block

				app-footer.footer(inline-template)
					+AppFooter()

			zingy-section.section
				p #[strong ZINGY]&nbsp;— в&nbsp;переводе с&nbsp;англ. потрясающий, захватывающий
