include SocialMedia
include AppPageFooterNav
include AppPageFooterNavOfSection

mixin AppPageFooter()
	-
		const [mainNav, devNav, seoNav] = [
			[
				'Главная',
				'Разработка',
				'Провижение',
				'О компании',
				'Блог',
				'Цены',
				'Контакты'
			],
			[
				'Разработка сайта-визитки',
				'Разработка интернет-магазина',
				'Разработка корпоративного сайта',
				'Разработка сайта на 1С-Битрикс',
				'Разработка промо-сайта',
				'Разработка личного кабинета',
				'Разработка веб-дизайна',
				'Интеграция'
			],
			[
				'Продвижение по трафику',
				'Продвижение по запросам',
				'Провижение по лидам',
				'Вывод из-под санкций',
				'Контекстная реклама',
				'SEO продвижение'
			]
		]

	template
		footer.AppPageFooter&attributes(attributes)
			.l-content-box
				h2.heading Контакты

				.zingy-projects
					.zingy-projects-item
					.zingy-projects-item
					.zingy-projects-item
					.zingy-projects-item
					.zingy-projects-item

				.l-content-grid
					.l-content-grid-item
						.l-contacts-grid
							.l-contacts-grid-item
								.text
									p E-mail: #[br]#[a(href="mailto:zingy.projects@gmail.com") zingy.projects@gmail.com]
									p Телефон: #[br]#[a(href="tel:+79854575817") +7 (985) 457-58-17]

							.l-contacts-grid-item
								social-media(inline-template)
									+SocialMedia()

							.l-contacts-grid-item
								.text.text-is-copyright
									p &copy;&nbsp;2008&ndash;2019. Все&nbsp;права&nbsp;защищены

					.l-content-grid-item
						app-page-footer-nav(inline-template)
							+AppPageFooterNav(mainNav)

					.l-content-grid-item
						app-page-footer-nav-of-section(inline-template)
							+AppPageFooterNavOfSection(devNav, 'Разработка')

					.l-content-grid-item
						app-page-footer-nav-of-section(inline-template)
							+AppPageFooterNavOfSection(seoNav, 'Продвижение')
