mixin AppPageFooterNavOfSection(navList, navName = 'Section')
	include AppPageFooterNav

	+AppPageFooterNav(navList).AppPageFooterNavOfSection&attributes(attributes)
		.hover-item(:style="hoverItemStyle")
		.nav-name= navName
