mixin AppPageFooterNav(navList = [])
	template
		nav.AppPageFooterNav&attributes(attributes)
			block

			.grid
				each item in navList
					.grid-item
						a.nav-item(href="")
							span.nav-item-text= item

mixin AppPageFooterNavOfSection(navList, navName = 'Section')
	+AppPageFooterNav(navList).AppPageFooterNavOfSection&attributes(attributes)
		.hover-item(:style="hoverItemStyle")
		.nav-name= navName
