include AppHeader
include PageFooter
include ZingySection

mixin AppPage()
	template
		.app-page&attributes(attributes)
			.body(ref="body")
				app-header.header(inline-template)
					+AppHeader()

				main.main(ref="main")
					block

				page-footer.footer(inline-template)
					+PageFooter()

			zingy-section(inline-template)
				+ZingySection()
