mixin AppPageHeaderNav()
	template#app-page-header-nav
		nav.AppPageHeaderNav
			.l-grid
				each navItem, index in ['Главная', 'О компании', 'Разработка', 'Продвижение', 'Блог', 'Контакты']
					.l-grid-item(class={'is-active': index === 0})
						a.nav-item(
							href=""
							class={'is-active': index === 0}
						)
							span.nav-item-text= navItem
