mixin AppPageContacts()
	template
		.app-page-contacts&attributes(attributes)
			.grid
				.grid-row
					.grid-cell
						transition-fade-up(appear)
							section.section
								h2.title E-mail

								.section-grid
									.section-grid-cell
										a.link-button(href="mailto:zingy.projects@gmail.com")
											span zingy.projects@gmail.com

									.section-grid-cell
										a.link-button(href="mailto:manager.zingy.projects@gmail.com")
											span manager.zingy.projects@gmail.com

				.grid-row
					.grid-cell
						transition-fade-up(appear)
							section.section
								h2.title Телефон

								.section-grid
									.section-grid-cell
										a.link-button(href="tel:+74959110795")
											span +7 (495) 911-07-95

						transition-fade-up(appear)
							section.section
								.section-grid
									.section-grid-cell
										.content
											p ООО «ЗИНГИ ПРОДЖЕКТС»<br>
											p ОГРН: 1135001004621<br>
											p ИНН: 5001094804<br>
											p КПП: 500101001

					.grid-cell
						transition-fade-up(appear)
							section.section
								h2.title Адрес

								.section-grid
									.section-grid-cell
										address.content.
											119590, г. Москва, ул. Улофа Пальме, д. 3<br>
											пн-пт с 10:00 до 21:00

						transition-fade-up(appear)
							section.section
								.section-grid
									.section-grid-cell
										a.link-button(
											href=""
											target="_blank"
										)
											span Реквизиты организации
