mixin AppPageIsIndex()
	include AppPage
	include IntroSection
	include QuoteSection
	include ServiceSection
	include WorkSection
	include PageSection
	include AppCarouselOfWorks
	include AppCarouselOfReviews
	include PageSectionIsServices
	include FeedbackSection

	+AppPage().app-page-is-index&attributes(attributes)
		intro-section(inline-template)
			+IntroSection()

		quote-section(inline-template)
			+QuoteSection()

		service-section(inline-template)
			+ServiceSection()

		work-section(inline-template)
			+WorkSection()

		page-section(inline-template)
			+PageSection('Наши работы')
				app-carousel-of-works(inline-template)
					+AppCarouselOfWorks()

		page-section(inline-template)
			+PageSection('Отзывы')
				app-carousel-of-reviews(inline-template)
					+AppCarouselOfReviews()

		page-section-is-services(inline-template)
			+PageSectionIsServices()

		feedback-section(inline-template)
			+FeedbackSection()
