include PageHeader
include PageFooter
include ZingySection

mixin AppPage()
	template
		.app-page&attributes(attributes)
			.body
				page-header.header(inline-template)
					+PageHeader()

				.main
					block

				page-footer.footer(inline-template)
					+PageFooter()

			zingy-section(inline-template)
				+ZingySection()
