mixin AppPageIsIndex()
	include AppPage
	include QuoteSection
	include PageSection
	include ContentCarouselOfWorks
	include ContentCarouselOfReviews
	include PageSectionIsServices

	+AppPage().AppPageIsIndex&attributes(attributes)
		quote-section(inline-template)
			+QuoteSection()

		page-section(inline-template)
			+PageSection('Наши работы')
				content-carousel-of-works(inline-template)
					+ContentCarouselOfWorks()

		page-section(inline-template)
			+PageSection('Отзывы')
				content-carousel-of-reviews(inline-template)
					+ContentCarouselOfReviews()

		page-section-is-services(inline-template)
			+PageSectionIsServices()
