mixin AppPageIsBlog()
	include AppPage
	include SideNav
	include BlogPosts
	include FeedbackSection

	+AppPage().app-page-is-blog&attributes(attributes)
		.grid
			nav(is="app-breadcrumb")
				a(href="/") Главная
				| Блог

			h1(
				is="base-title"
				tag="h1"
			) Блог с&nbsp;полезным контентом для всех, кто интересуется&nbsp;IT

		.grid
			app-page-sticky-container(:options="stickyContainerOptions")
				template(v-slot:sidebar)
					aside
						side-nav.side-nav-is-wide(
							inline-template
							v-if="windowWidth >= stickyContainerMinWidth ? true : true"
						)
							+SideNav()

				blog-posts(inline-template)
					+BlogPosts()

		feedback-section(inline-template)
			+FeedbackSection()
