include AppPageHeader
include AppPageFooter
include ZingySection

mixin AppPage()
	template
		.AppPage&attributes(attributes)
			.l-front-layer
				app-page-header(inline-template)
					+AppPageHeader()

				block

				app-page-footer(inline-template)
					+AppPageFooter()

			.l-back-layer
				zingy-section(inline-template)
					+ZingySection()
