include PageHeader
include PageFooter
include ZingySection

mixin AppPage()
	template
		.app-page&attributes(attributes)
			.body(ref="body")
				page-header.header(inline-template)
					+PageHeader()

				.main(ref="main")
					block

				page-footer.footer(inline-template)
					+PageFooter()

			zingy-section(inline-template)
				+ZingySection()
