include AppPageHeader
include AppPageFooter
include ZingySection

mixin AppPage()
	template
		.AppPage&attributes(attributes)
			.l-front-box
				app-page-header(inline-template)
					+AppPageHeader()

				.l-main-box
					block

				app-page-footer(inline-template)
					+AppPageFooter()

			.l-back-box
				zingy-section(inline-template)
					+ZingySection()
