mixin AppPageIsBlog()
	include AppPage
	include SideNav
	include FeedbackSection

	+AppPage().app-page-is-blog.is-theme-dark&attributes(attributes)
		.grid
			nav(is="app-breadcrumb")
				a(href="") Главная
				| Блог

			h1(
				is="base-title"
				tag="h1"
			) Блог с&nbsp;полезным контентом для всех, кто интересуется&nbsp;IT

		.grid
			app-page-sticky-container(:options="stickyContainerOptions")
				template(v-slot:sidebar)
					aside
						side-nav(
							inline-template
							v-if="windowWidth >= stickyContainerMinWidth ? true : true"
						)
							+SideNav()

				| Posts

		feedback-section(inline-template)
			+FeedbackSection()
