mixin AppPageIsBlog()
	include AppPage
	include PageSidenav
	include FeedbackSection

	+AppPage().app-page-is-blog.is-theme-dark&attributes(attributes)
		.grid
			nav(is="app-breadcrumb")
				| Главная
				a(href="") Блог

			h1(is="base-title") Блог с&nbsp;полезным контентом для всех, кто интересуется&nbsp;IT

		.grid.grid-is-columns
			.grid-row
				vue-sticky(:top="asideStickyTop")
					aside.grid-cell.grid-cell-is-aside
						page-sidenav(inline-template)
							+PageSidenav()

				main.grid-cell.grid-cell-is-main 2

		feedback-section(inline-template)
			+FeedbackSection()
