include AppHeader
include AppFooter
include ZingySection

mixin AppPage()
	template
		.app-page&attributes(attributes)
			.body(ref="body")
				app-header(inline-template)
					+AppHeader()

				main.main(ref="main")
					block

				app-footer(inline-template)
					+AppFooter()

			zingy-section(inline-template)
				+ZingySection()
