mixin AppPageHeader()
	template
		header.app-page-header&attributes(attributes)
			transition(
				appear
				appear-active-class="v-appear-active"
				:duration="600"
				@after-appear="startAnimateIsEnd = true"
			)
				.logobox
					a.logo(
						href="/"
						title="Zingy Projects"
					)
						base-icon(icon-name="zingy")

			transition(:duration="{enter: 550, leave: 350}")
				.menubuttonbox(
					v-show="startAnimateIsEnd && headerIsMinimized"
				)
					button.menubutton(type="button")
						base-icon(icon-name="menu")
