mixin AwesomeList()
	-
		const items = [
			{
				title: 'Неповторимый веб-дизайн UX/UI',
				description: 'Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать ' +
				'придется долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше. Мы не торопим ' +
				'вас с выбором веб-студии. Это очень важный выбор, потому что работать придется долго.'
			},
			{
				title: 'Уникальная гарантия на рынке веб-услуг',
				description: 'Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать ' +
				'придется долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше. Мы не торопим ' +
				'вас с выбором веб-студии.'
			},
			{
				title: 'Уникальная SEO стратегия',
				description: 'Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать ' +
				'придется долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше. Мы не торопим ' +
				'вас с выбором веб-студии.'
			},
			{
				title: 'Выезжаем к Вам в офис не только на этапе продаж',
				description: 'Если мы до сих пор вас не убедили, то изучите наши преимущества дальше. Мы не торопим ' +
				'вас с выбором веб-студии.'
			},
			{
				title: 'Поддержка 24/7',
				description: 'Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать ' +
				'придется долго.'
			},
			{
				title: 'Клиент всегда прав',
				description: 'Если мы до сих пор вас не убедили, то изучите наши преимущества дальше. Мы не торопим ' +
				'вас с выбором веб-студии.'
			},
			{
				title: 'Эффективная разработка',
				description: 'Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать ' +
				'придется долго.'
			}
		];

	template
		.host.awesome-list(
			@mouseenter="runningLineIsVisible = true"
			@mouseleave="runningLineIsVisible = false"
		)
			transition-box
				.running-line(
					v-show="runningLineIsVisible"
					:style="runningLineStyle"
				)

			each item, index in items
				article.item(
					@mouseenter="onItemMouseenter"
				)
					.item-number= '0' + (index + 1)

					.item-main
						h3.item-title= item.title

					.item-description
						.item-description-inner
							p= item.description
							| &nbsp;
							a.item-read-more(href="") Читать подробнее
