mixin AwesomeList()
	-
		const items = [
			{
				title: 'Неповторимый веб-дизайн UX/UI',
				description: 'Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать ' +
				'придется долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше. Мы не торопим ' +
				'вас с выбором веб-студии. Это очень важный выбор, потому что работать придется долго. ' +
				'Читать подробнее (открывается поп-ап)'
			},
			{
				title: 'Уникальная гарантия на рынке веб-услуг',
				description: 'Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать ' +
				'придется долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше. Мы не торопим ' +
				'вас с выбором веб-студии.'
			},
			{
				title: 'Уникальная SEO стратегия',
				description: 'Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать ' +
				'придется долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше. Мы не торопим ' +
				'вас с выбором веб-студии.'
			},
			{
				title: 'Выезжаем к Вам в офис не только на этапе продаж',
				description: 'Если мы до сих пор вас не убедили, то изучите наши преимущества дальше. Мы не торопим ' +
				'вас с выбором веб-студии.'
			},
			{
				title: 'Поддержка 24/7',
				description: 'Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать ' +
				'придется долго.'
			},
			{
				title: 'Клиент всегда прав',
				description: 'Если мы до сих пор вас не убедили, то изучите наши преимущества дальше. Мы не торопим ' +
				'вас с выбором веб-студии.'
			},
			{
				title: 'Эффективная разработка',
				description: 'Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать ' +
				'придется долго.'
			}
		];

	template
		ol.host.awesome-list
			each item, index in items
				li.item
					.item-number= '0' + (index + 1)
					.item-content= item.title
