mixin BlogPosts()
	include PostsItem

	-
		const posts = [{}];

	template
		.blog-posts&attributes(attributes)
			.grid
				each post in posts
					.grid-item
						posts-item(inline-template)
							+PostsItem(post)

