mixin ContentCarouselOfReviews()
	include ContentCarousel
	include AppReview

	-
		const reviews = [
			{},
			{
				content: 'Content',
				citeName: 'Cite Name',
				citeDescription: 'Cite Description'
			}
		]

	+ContentCarousel().ContentCarouselOfReviews&attributes(attributes)
		.content-box
			.content-grid
				.content-grid-item
					base-icon.background-quote(name="open-quote")

					vue-slick(
						ref="slick"
						:options="slickOptions"
						v-on="{init: onSlickInit, beforeChange: onSlickBeforeChange, breakpoint: onSlickBreakpoint}"
					)
						each review in reviews
							app-review(inline-template)
								+AppReview(review)
