mixin ContentCarouselOfWorks()
	include ContentCarousel
	include WorksItem

	-
		const works = [
			{
				category: 'Разработка сайта',
				title: 'Profsaunastroy',
				description: 'Строительство и отделка бань, саун. Компания работает \n'+
				'с 2001 года. Собственное производство мебели на заказ.',
				url: '',
				image: 'upload/profsaunastroy.jpg',
				color: undefined
			},
			{
				category: 'Разработка сайта',
				title: 'Crypto Pi',
				description: 'Международный специализированный криптовалютный центр, созданный крупными мировыми инвесторами',
				url: '',
				image: 'upload/crypto-pi.jpg',
				color: '#f59900'
			},
			{
				category: 'Разработка сайта',
				title: 'Profsaunastroy',
				description: 'Строительство и отделка бань, саун. Компания работает \n'+
				'с 2001 года. Собственное производство мебели на заказ.',
				url: '',
				image: 'upload/profsaunastroy.jpg',
				color: '#006d68'
			},
			{
				category: 'Разработка сайта',
				title: 'Crypto Pi',
				description: 'Международный специализированный криптовалютный центр, созданный крупными мировыми инвесторами',
				url: '',
				image: 'upload/crypto-pi.jpg',
				color: '#7b3200'
			},
			{
				category: 'Разработка сайта',
				title: 'Profsaunastroy',
				description: 'Строительство и отделка бань, саун. Компания работает \n'+
				'с 2001 года. Собственное производство мебели на заказ.',
				url: '',
				image: 'upload/profsaunastroy.jpg',
				color: 'var(--color-link)'
			}
		]

	+ContentCarousel().ContentCarouselOfWorks&attributes(attributes)
		each work in works
			swiper-slide
				works-item(inline-template)
					+WorksItem(work)
