mixin ContentCarousel(items = [])
	template
		.ContentCarousel&attributes(attributes)
			.main
				.grid
					.grid-item
						swiper-container(
							ref="swiperContainer"
							:options="swiperOptions"
						)
							if block
								block
							else
								each item in items
									swiper-slide!= item

							template(v-slot:pagination)
								.swiper-pagination-box
									.swiper-pagination-grid
										.swiper-pagination-cell
											.swiper-button-prev.swiper-button-prev-is-small
												base-icon(name="arrow-right")

											.swiper-pagination

											.swiper-button-next.swiper-button-next-is-small
												base-icon(name="arrow-right")

							//template(v-slot:button-prev)
							//	.swiper-button-prev.swiper-button-prev-is-large
							//		base-icon(name="arrow-right")
							//
							//template(v-slot:button-next)
							//	.swiper-button-next.swiper-button-next-is-large
							//		base-icon(name="arrow-right")
