mixin DList(items = [{title: 'Title', nav: [{url: '', text: 'Link'}]}])
	.host.d-list(
		@mouseenter="runningLineIsVisible = true"
		@mouseleave="runningLineIsVisible = false"
	)
		ol.d-list-inner
			each item, index in items
				li.item(@mouseenter="onItemMouseenter")
					.item-number= '0' + (index + 1)
					.item-body
						.item-title= item.title

						if item.nav
							ul.nav
								each navItem in item.nav
									li.nav-item
										a.nav-link(href=navItem.url)= navItem.text

		transition-box
			.running-line(
				v-show="runningLineIsVisible"
				:style="runningLineStyle"
			)
