mixin FeedbackSection()
	template
		section.feedback-section#feedback-section&attributes(attributes)
			base-icon.bg-icon(name="chess")

			.grid
				.grid-row
					.grid-cell
						.title Грамотная первая консультация #[br]—&nbsp;99%&nbsp;успеха!
						.content.content-is-description Оставьте заявку на консультацию

					.grid-cell
						feedback-form.form(action=NODE_ENV === 'production' ? '/mail.php' : '/')
							template(slot="content")
								p *&nbsp;Отправляя заявку, вы соглашаетесь с <a href='' target='_blank'>условиями передачи информации</a>.
