mixin IntroSection()
	section.host.intro-section
		.body
			transition(
				appear
				:duration="1000"
			)
				.body-transition
					.body-inner
						transition(appear)
							h1.title Разработка и Продвижение Веб-сайтов

						transition(appear)
							.content
								p.
									«Работа студии построена на тесном взаимодействии двух кофликтующих между собой отделах разработки и продвижения, что позволяет сделать быстрый старт проекта без двойных переплат. Сейчас на рынке крайне мало таких предложений.
									Это новый уровень Digital.»

								p.
									#[strong Сергей Макоронников]#[br]
									#[em CEO Рейтинг Рунета]

			.scroll(
				v-sticky
				sticky-offset="scrollOffset"
				sticky-side="bottom"
			) Крутите вниз
