mixin IntroSection()
	section.host.intro-section
		.body
			transition(
				appear
				:duration="1000"
			)
				.body-transition
					.body-inner
						transition(appear)
							h1.title Разработка и Продвижение Веб-сайтов
