mixin IntroSection()
	section.host.intro-section
		.body
			transition-box(
				appear
				:duration="1000"
				@after-enter="$refs.scroll.doStick()"
			)
				.body-transition
					.body-inner
						transition-box(appear)
							h1.title Разработка и Продвижение Веб-сайтов

						transition-box(appear)
							.content
								p.
									&laquo;Работа студии построена на&nbsp;тесном взаимодействии двух кофликтующих между
									собой отделах разработки и&nbsp;продвижения, что&nbsp;позволяет сделать быстрый старт
									проекта без двойных переплат. Сейчас на&nbsp;рынке крайне мало таких предложений.
									#[br]Это новый уровень Digital.&raquo;

								p.
									#[strong Сергей Макоронников]
									#[br]#[em CEO Рейтинг Рунета]

						transition-box(appear)
							vue-stick-scroll(:stick-top="false" :stick-bottom="40" ref="scroll")
								.scroll Крутите вниз
									.scroll-line
