mixin IntroSection()
	section.host.intro-section
		.body
			transition-box(
				appear
				:duration="1000"
				@after-enter="$refs.scroll.sticky()"
			)
				.body-transition
					.body-inner
						transition-box(appear)
							h1.title Разработка и Продвижение Веб-сайтов

						transition-box(appear)
							.content
								p.
									&laquo;Работа студии построена на&nbsp;тесном взаимодействии двух кофликтующих между
									собой отделов разработки и&nbsp;продвижения, что&nbsp;позволяет сделать быстрый старт
									проекта без двойных переплат. Сейчас на&nbsp;рынке крайне мало таких предложений.
									#[br]Это новый уровень Digital.&raquo;

								.content-small
									p.
										#[strong Сергей Макоронников]
										#[br]#[em CEO Рейтинг Рунета]

								.content-credits
									.content-credit
										.content-credit-img-cell
											img.content-credit-img(
												src="upload/mincom.png"
												alt=""
											)

										.content-credit-text-cell
											p.
												#[strong ZINGY PROJECTS]
												#[br]#[em Аккредитация IT-организации номер 8700]

									.content-credit
										.content-credit-img-cell
											img.content-credit-img(
												src="upload/top-300.png"
												alt=""
											)

										.content-credit-text-cell
											p.
												#[strong ТОП 250]
												#[br]#[em Среди веб-студий Москвы по версии Рейтинга Рунета]

						transition-box(appear)
							vue-sticky(:top="false" :bottom="scrollStickyBottom" ref="scroll")
								.scroll
									.scroll-text Крутите вниз
									.scroll-line

						transition-box(appear)
							.unicorn
								.unicorn-img-box
									include ../../../src/assets/img/icons/unicorn-intro.svg
									div(:class="['unicorn-img', {'unicorn-img-is-clip': isSupportClipPath}]")

								.unicorn-text-box
									a(href="" @click.prevent="$modal.show('unicorn')") Почему единорог?

						app-modal(name="unicorn")
							template(v-slot:default)
								p.
									Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать придется долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше.
								p.
									Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать придется долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше.
								p.
									Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать придется долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше. Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать придется долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше. Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать придется долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше. Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать придется долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше.
								p.
									Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать придется долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше. Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать придется долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше.
								p.
									Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать придется долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше. Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать придется долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше.
