mixin PageSectionIsServices(title = 'Популярные услуги')
	include PageSection

	+PageSection(title).PageSectionIsServices
		nav.services-list
			a.services-list-item.services-list-item-is-1(href="")
				.services-list-item-box
					.services-list-item-title Создание логотипа

			a.services-list-item.services-list-item-is-2(href="")
				.services-list-item-box
					.services-list-item-title Аудит сайта

			a.services-list-item.services-list-item-is-3(href="")
				.services-list-item-box
					.services-list-item-title Разработка сайта-визитки

			a.services-list-item.services-list-item-is-4(href="")
				.services-list-item-box
					.services-list-item-title Сбор семантического ядра

			a.services-list-item.services-list-item-is-5(href="")
				.services-list-item-box
					.services-list-item-title Разработка корпоративного сайта

			a.services-list-item.services-list-item-is-6(href="")
				.services-list-item-box
					.services-list-item-title Разработка и SEO продвижение интернет-магазина

