mixin PageFooter()
	include SocialLinks
	include AppPageFooterNav
	include AppPageFooterNavOfSection

	-
		const [mainNav, devNav, seoNav] = [
			[
				'Главная',
				'Разработка',
				'Провижение',
				'О компании',
				'Блог',
				'Цены',
				'Контакты'
			],
			[
				'Разработка сайта-визитки',
				'Разработка интернет-магазина',
				'Разработка корпоративного сайта',
				'Разработка сайта на 1С-Битрикс',
				'Разработка промо-сайта',
				'Разработка личного кабинета',
				'Разработка веб-дизайна',
				'Интеграция'
			],
			[
				'Продвижение по трафику',
				'Продвижение по запросам',
				'Провижение по лидам',
				'Вывод из-под санкций',
				'Контекстная реклама',
				'SEO продвижение'
			]
		]

	template
		footer.host.page-footer&attributes(attributes)
			.grid
				h2.title Контакты

				.zingy-projects
					.zingy-projects-copy
					.zingy-projects-copy
					.zingy-projects-copy
					.zingy-projects-copy
					.zingy-projects-copy

				.grid-row
					.grid-cell
						.contacts-grid
							.contacts-grid-cell
								.content.content-is-contacts
									p E-mail: #[br]#[a(href="mailto:zingy.projects@gmail.com") zingy.projects@gmail.com]
									p Телефон: #[br]#[a(href="tel:+79854575817") +7 (985) 457-58-17]

							.contacts-grid-cell
								social-links(inline-template)
									+SocialLinks()

							.contacts-grid-cell
								.content.content-is-copyright
									p
										small #[a(href="" target="_blank") Политика конфиденциальности]

									p &copy;&nbsp;2008&ndash;2019. Все&nbsp;права&nbsp;защищены

					.grid-cell
						app-page-footer-nav(inline-template)
							+AppPageFooterNav(mainNav)

					.grid-cell
						app-page-footer-nav-of-section(inline-template)
							+AppPageFooterNavOfSection(devNav, 'Разработка')

					.grid-cell
						app-page-footer-nav-of-section(inline-template)
							+AppPageFooterNavOfSection(seoNav, 'Продвижение')
