mixin PageSidenav()
	template
		.page-sidenav&attributes(attributes)
			header.header
				.header-inner
					.title Услуги студии
					.desc Быстрый переход по&nbsp;страницам услуг нашей студии от&nbsp;дизайна до&nbsp;продвижения!

			.main

