mixin PageHeaderNav()
	template#page-header-nav
		nav.host.page-header-nav
			.grid
				each navItem, index in ['Главная', 'О компании', 'Разработка', 'Продвижение', 'Блог', 'Контакты']
					.grid-cell(class={'is-active': index === 0})
						a.link(
							href=""
							class={'is-active': index === 0}
						)
							span.link-text= navItem
