mixin PageSectionIsServices(title = 'Популярные услуги')
	include PageSection

	+PageSection(title).PageSectionIsServices
		nav.services
			a.services-item.services-item-is-1(href="")
				.services-item-inner
					h3.services-item-title Создание логотипа

			a.services-item.services-item-is-2(href="")
				.services-item-inner
					h3.services-item-title Аудит сайта

			a.services-item.services-item-is-3(href="")
				.services-item-inner
					h3.services-item-title Разработка сайта-визитки

			a.services-item.services-item-is-4(href="")
				.services-item-inner
					h3.services-item-title Сбор семантического ядра

			a.services-item.services-item-is-5(href="")
				.services-item-inner
					h3.services-item-title Разработка корпоративного сайта

			a.services-item.services-item-is-6(href="")
				.services-item-inner
					h3.services-item-title Разработка и SEO продвижение интернет-магазина

