mixin PageSectionIsReviews(title = 'Отзывы')
	include PageSection
	include ContentCarouselOfReviews

	+PageSection(title).PageSectionIsReviews&attributes(attributes)
		content-carousel-of-reviews(
			inline-template
			:count="2"
			:initial="0"
		)
			+ContentCarouselOfReviews()
