mixin ReviewBlock({text, citeName, citeDescription})
	-
		text = text || `<p>“Zingy Projects я выбрала интуитивно, по тем ответам, которые получала от них, по скорости
		ответа на письма. На данный момент для нас было выполнено задание, которое мы им поставили, и я могу со всей
		ответственностью сказать, что они справились отлично!

		Если вкратце, то отвечают на письма сразу же, все по делу, иногда могут ответить в нерабочее время
		(ответственность, она такая), готовы объяснить доступным языком любой процесс, готовы уделить время
		на дополнительное изучение вопроса, если он им не совсем знаком, если что-то надо добавить/поправить -
		исправляют/добавляют с первого раза как надо.

		Стараются вникнуть в суть вопроса и предвосхитить возможные потребности, в нашем случае сделали дополнительный
		функционал до того как я осознала, что он нужен, за символическую плату. Видно, что ребята стараются.
		Стараются сделать "как для себя", а это очень важно и ценно. У нас еще много нереализованных задумок и я очень
		надеюсь на долгосрочное и плодотворное сотрудничество с Zingy Projects! Спасибо!”</p>`;

		citeName = citeName || 'Людмила Соколова';
		citeDescription = citeDescription || 'Генеральный директор Salon Global Brand';

	template
		.ReviewBlock&attributes(attributes)
			.text!= text

			.cite
				.cite-name= citeName
				.cite-description= citeDescription
