mixin ReviewsItem({content, citeName, citeDescription})
	-
		[content, citeName, citeDescription] = [
			content || `<p>“Zingy Projects я выбрала интуитивно, по тем ответам, которые получала от них, по скорости
			ответа на письма. На данный момент для нас было выполнено задание, которое мы им поставили, и я могу со всей
			ответственностью сказать, что они справились отлично!</p>

			<p>Если вкратце, то отвечают на письма сразу же, все по делу, иногда могут ответить в нерабочее время
			(ответственность, она такая), готовы объяснить доступным языком любой процесс, готовы уделить время
			на дополнительное изучение вопроса, если он им не совсем знаком, если что-то надо добавить/поправить -
			исправляют/добавляют с первого раза как надо.</p>

			<p>Стараются вникнуть в суть вопроса и предвосхитить возможные потребности, в нашем случае сделали дополнительный
			функционал до того как я осознала, что он нужен, за символическую плату. Видно, что ребята стараются.
			Стараются сделать "как для себя", а это очень важно и ценно. У нас еще много нереализованных задумок и я очень
			надеюсь на долгосрочное и плодотворное сотрудничество с Zingy Projects! Спасибо!”</p>`,

			citeName || 'Людмила Соколова',
			citeDescription || 'Генеральный директор Salon Global Brand'
		]

	template
		.reviews-item&attributes(attributes)
			base-content!= content

			p.cite
				strong.cite-name= citeName
				em.cite-description= citeDescription
