mixin ServiceSection()
	template
		section.host.service-section
			.grid
				.grid-row
					.grid-cell
						.service
							.service-body
								h2.service-title Обновить&nbsp;/ Создать сайт для&nbsp;бизнеса

							a.service-button(href="")
								.service-button-text Отдел #[span.service-button-underline web] разработки

					.grid-cell
						.service
							.service-body
								h2.service-title Продвинуть сайт в&nbsp;ТОП&nbsp;10 Yandex &amp;&nbsp;Google
