mixin ServiceSection()
	include DList

	-
		const createSiteDList = [
			{
				title: 'Аналитика',
				nav: [
					{url: '', text: 'Стратегия'},
					{url: '', text: 'Бизнес-задачи'},
					{url: '', text: 'ТЗ'},
				]
			},
			{
				title: 'Проектирование',
				nav: [
					{url: '', text: 'Balsamiq Mockups 3'},
					{url: '', text: 'Axure'},
				]
			},
			{
				title: 'Разработка дизайна',
				nav: [
					{url: '', text: 'Adobe Photoshop'},
					{url: '', text: 'Sketch'},
				]
			},
			{
				title: 'FRONT-END DEVELOPMENT',
				nav: [
					{url: '', text: 'HTML 5'},
					{url: '', text: 'CSS 3'},
					{url: '', text: 'JavaScript'},
					{url: '', text: 'JQuery'},
					{url: '', text: 'Sass'},
					{url: '', text: 'Less'},
					{url: '', text: 'Gulp'},
				]
			},
			{
				title: 'BACK-END DEVELOPMENT',
				nav: [
					{url: '', text: 'PHP'},
					{url: '', text: 'Laravel'},
					{url: '', text: 'MODX'},
					{url: '', text: '1C-Битрикс'},
					{url: '', text: 'MySQL'},
				]
			},
		];

	template
		section.host.service-section
			.grid
				.grid-row
					.grid-cell
						.service
							base-icon.service-bg-icon.service-bg-icon-is-unicorn(
								icon-name="unicorn"
								align="xMaxYMid"
							)

							.service-body
								h2.service-title Обновить&nbsp;/ Создать сайт для&nbsp;бизнеса

								d-list(inline-template)
									+DList(createSiteDList)

							a.service-button(href="")
								base-icon.service-button-icon(icon-name="laurel")
								.service-button-text Отдел #[strong web] разработки
								base-icon.service-button-icon(icon-name="laurel")

					base-icon.grid-arrow(icon-name="arrow-right-2")

					.grid-cell
						.service
							base-icon.service-bg-icon.service-bg-icon-is-cup(icon-name="cup")

							.service-body
								h2.service-title Продвинуть сайт в&nbsp;ТОП&nbsp;10 Yandex &amp;&nbsp;Google

							a.service-button(href="")
								base-icon.service-button-icon(icon-name="laurel")
								.service-button-text Отдел продвижения #[strong seo]
								base-icon.service-button-icon(icon-name="laurel")
