mixin ServiceSection()
	include DList

	-
		const createSiteDList = [
			{
				title: 'Аналитика',
				nav: [
					{url: '', text: 'Стратегия'},
					{url: '', text: 'Бизнес-задачи'},
					{url: '', text: 'ТЗ'},
				]
			},
			{
				title: 'Проектирование',
				nav: [
					{url: '', text: 'Balsamiq Mockups 3'},
					{url: '', text: 'Axure'},
				]
			},
			{
				title: 'Разработка дизайна',
				nav: [
					{url: '', text: 'Adobe Photoshop'},
					{url: '', text: 'Sketch'},
				]
			},
			{
				title: 'FRONT-END DEVELOPMENT',
				nav: [
					{url: '', text: 'HTML 5'},
					{url: '', text: 'CSS 3'},
					{url: '', text: 'JavaScript'},
					{url: '', text: 'JQuery'},
					{url: '', text: 'Sass'},
					{url: '', text: 'Less'},
					{url: '', text: 'Gulp'},
				]
			},
			{
				title: 'BACK-END DEVELOPMENT',
				nav: [
					{url: '', text: 'PHP'},
					{url: '', text: 'Laravel'},
					{url: '', text: 'MODX'},
					{url: '', text: '1C-Битрикс'},
					{url: '', text: 'MySQL'},
				]
			},
		];

		const seoDList = [
			{
				title: 'Анализ конкуретнтов',
				nav: [
					{url: '', text: 'Стратегия SEO продвижения на 6-12 месяцев'},
				]
			},
			{
				title: 'Выявление технических ошибок сайта',
				nav: [
					{url: '', text: 'Screaming Frog SEO spider'},
					{url: '', text: 'Яндекс.Вебмастер'},
					{url: '', text: 'ТЗ'},
				]
			},
			{
				title: 'Улучшение поведенческих факторов',
				nav: [
					{url: '', text: 'Яндекс.Метрика'},
					{url: '', text: 'Google analytics'},
					{url: '', text: 'Яндекс.Вебмастер'},
					{url: '', text: 'ТЗ'},
				]
			},
			{
				title: 'Улучшение коммерческих факторов',
				nav: [
					{url: '', text: 'Продвижение коммерческих запросов'},
					{url: '', text: 'Повышение конверсии'},
				]
			},
			{
				title: 'Проработка внешнего SEO',
				nav: [
					{url: '', text: 'Крауд-маркетинг'},
					{url: '', text: 'Отзывы'},
					{url: '', text: 'Ссылки с соц. сетей, каталогов'},
				]
			},
		];

	template
		section.service-section
			.grid
				.grid-row
					.grid-cell
						article.service
							header.service-header
								h2.service-title Обновить&nbsp;/ Создать сайт для&nbsp;бизнеса

							.service-main
								base-icon.service-main-bg(
									name="unicorn"
									:align="windowWidth >= 1024 ? 'xMaxYMin' : 'xMidYMin'"
								)

								d-list(inline-template)
									+DList(createSiteDList)

							footer.service-footer
								a.service-button(href="")
									base-icon.service-button-icon(name="laurel")
									.service-button-text Отдел #[strong web] разработки
									base-icon.service-button-icon(name="laurel")

					base-icon.grid-arrow(name="arrow-right-2")

					.grid-cell
						article.service
							header.service-header
								h2.service-title Продвинуть сайт в&nbsp;ТОП&nbsp;10 Yandex&nbsp;&amp;&nbsp;Google

							.service-main
								base-icon.service-main-bg(
									name="cup"
									:align="windowWidth >= 1024 ? 'xMaxYMin' : 'xMidYMin'"
								)

								d-list(inline-template)
									+DList(seoDList)

							footer.service-footer
								a.service-button(href="")
									base-icon.service-button-icon(name="laurel")
									.service-button-text Отдел продвижения #[strong seo]
									base-icon.service-button-icon(name="laurel")
