mixin ServiceSection()
	include DList

	-
		const createSiteDList = [
			{
				title: 'Аналитика',
				nav: [
					{url: '#Стратегия', text: 'Стратегия'},
					{url: '#Бизнес-задачи', text: 'Бизнес-задачи'},
					{url: '#ТЗ', text: 'ТЗ'},
				]
			},
			{
				title: 'Проектирование',
				nav: [
					{url: '#Balsamiq Mockups 3', text: 'Balsamiq Mockups 3'},
					{url: '#Axure', text: 'Axure'},
				]
			},
			{
				title: 'Разработка дизайна',
				nav: [
					{url: '#Adobe Photoshop', text: 'Adobe Photoshop'},
					{url: '#Sketch', text: 'Sketch'},
				]
			},
			{
				title: 'FRONT-END DEVELOPMENT',
				nav: [
					{url: '#HTML 5', text: 'HTML 5'},
					{url: '#CSS 3', text: 'CSS 3'},
					{url: '#JavaScript', text: 'JavaScript'},
					{url: '#JQuery', text: 'JQuery'},
					{url: '#Sass', text: 'Sass'},
					{url: '#Less', text: 'Less'},
					{url: '#Gulp', text: 'Gulp'},
				]
			},
			{
				title: 'BACK-END DEVELOPMENT',
				nav: [
					{url: '#PHP', text: 'PHP'},
					{url: '#Laravel', text: 'Laravel'},
					{url: '#MODX', text: 'MODX'},
					{url: '#1C-Битрикс', text: '1C-Битрикс'},
					{url: '#MySQL', text: 'MySQL'},
				]
			},
		];

		const seoDList = [
			{
				title: 'Анализ конкуретнтов',
				nav: [
					{url: '#Стратегия SEO продвижения на 6-12 месяцев', text: 'Стратегия SEO продвижения на 6-12 месяцев'},
				]
			},
			{
				title: 'Выявление технических ошибок сайта',
				nav: [
					{url: '#Screaming Frog SEO spider', text: 'Screaming Frog SEO spider'},
					{url: '#Яндекс.Вебмастер', text: 'Яндекс.Вебмастер'},
					{url: '#ТЗ', text: 'ТЗ'},
				]
			},
			{
				title: 'Улучшение поведенческих факторов',
				nav: [
					{url: '#Яндекс.Метрика', text: 'Яндекс.Метрика'},
					{url: '#Google analytics', text: 'Google analytics'},
					{url: '#Яндекс.Вебмастер', text: 'Яндекс.Вебмастер'},
					{url: '#ТЗ', text: 'ТЗ'},
				]
			},
			{
				title: 'Улучшение коммерческих факторов',
				nav: [
					{url: '#Продвижение коммерческих запросов', text: 'Продвижение коммерческих запросов'},
					{url: '#Повышение конверсии', text: 'Повышение конверсии'},
				]
			},
			{
				title: 'Проработка внешнего SEO',
				nav: [
					{url: '#Крауд-маркетинг', text: 'Крауд-маркетинг'},
					{url: '#Отзывы', text: 'Отзывы'},
					{url: '#Ссылки с соц. сетей, каталогов', text: 'Ссылки с соц. сетей, каталогов'},
				]
			},
		];

	template
		section.service-section
			.grid
				.grid-row
					.grid-cell
						article.service
							header.service-header
								h2.service-title Обновить&nbsp;/ Создать сайт для&nbsp;бизнеса

							.service-main
								base-icon.service-main-bg(
									name="unicorn"
									:align="windowWidth >= 1024 ? 'xMaxYMin' : 'xMidYMin'"
								)

								d-list.service-list(inline-template)
									+DList(createSiteDList)

							footer.service-footer
								a.service-button(href="")
									base-icon.service-button-icon(name="laurel")
									.service-button-text Отдел #[strong web] разработки
									base-icon.service-button-icon(name="laurel")

					base-icon.grid-arrow(name="arrow-right-2")

					.grid-cell
						article.service
							header.service-header
								h2.service-title Продвинуть сайт в&nbsp;ТОП&nbsp;10 Yandex&nbsp;&amp;&nbsp;Google

							.service-main
								base-icon.service-main-bg(
									name="cup"
									:align="windowWidth >= 1024 ? 'xMaxYMin' : 'xMidYMin'"
								)

								d-list.service-list(inline-template)
									+DList(seoDList)

							footer.service-footer
								a.service-button(href="")
									base-icon.service-button-icon(name="laurel")
									.service-button-text Отдел продвижения #[strong seo]
									base-icon.service-button-icon(name="laurel")
