mixin SideNav()
	-
		const items = [
			{title: 'Разработка сайта-визитки', url: ''},
			{title: 'Разработка интернет магазина', url: ''},
			{title: 'Разработка корпоративного сайта', url: ''},
			{title: 'Разработка сайта на 1C-Битрикс', url: ''},
			{title: 'Разработка промо-сайта', url: ''},
			{title: 'Разработка личного кабинета', url: ''},
			{title: 'Разработка веб-дизайна', url: ''},
			{title: 'Интеграция', url: ''},
			{title: 'Продвижение по трафику', url: ''},
			{title: 'Продвижение по запросам', url: ''},
			{title: 'Провижение по лидам', url: ''},
			{title: 'Вывод из-под санкций', url: ''},
			{title: 'Контекстная реклама', url: ''},
			{title: 'SEO продвижение', url: ''},
		]

	template
		.side-nav&attributes(attributes)
			header.header
				.header-inner
					.header-title
						span.header-title-text Услуги студии

					.header-desc Быстрый переход по&nbsp;страницам услуг нашей студии от&nbsp;дизайна до&nbsp;продвижения!

			.main
				.main-inner(
					v-dragscroll.x="true"
					@dragscrollstart="isDragging = true"
					@dragscrollend="dragScrollEnd"
					@click.capture="clickOnDrag"
				)
					each item, index in items
						a.nav-item(
							class={'is-active': index === 0}
							href=item.url
							@click="onItemClick"
						)
							span.nav-item-text= item.title
