mixin SocialLinks()
	-
		const links = [
			['VK', 'vk'],
			['Facebook', 'facebook'],
			['Twitter', 'twitter'],
			['Яндекс Дзен', 'yandex-zen'],
			['Instagram', 'instagram'],
			['YouTube', 'youtube'],
		]

	template
		nav.social-links&attributes(attributes)
			.grid
				each link in links
					.grid-cell
						a.link(
							href=""
							target="_blank"
							title=link[0]
						)
							base-icon.link-icon(
								:class="{'link-icon-is-masked': linkIconIsMasked}"
								name=link[1]
							)
