mixin VZingysection()
	+defineTemplate('v-zingysection')&attributes(attributes)
		div
			.zingygrid
				.zingygrid-item optimi#[b z]ation
				.zingygrid-item des#[b i]gn
				.zingygrid-item developme#[b n]t
				.zingygrid-item marketin#[b g]
				.zingygrid-item strateg#[b y]

			.zingydefinition
				p #[strong ZINGY] — в переводе с англ. потрясающий, захватывающий
