mixin WorkSection()
	include AwesomeList

	template
		section.work-section
			.body
				.body-inner
					.body-overlay.body-overlay-is-left-top
					.body-overlay.body-overlay-is-left-bottom
					.body-overlay.body-overlay-is-right

					.body-stars
						base-icon.body-stars-item(name="star")
						base-icon.body-stars-item(name="star")
						base-icon.body-stars-item(name="star")
						base-icon.body-stars-item(name="star")
						base-icon.body-stars-item(name="star")
						base-icon.body-stars-item(name="star")
						base-icon.body-stars-item(name="star")

					header.header
						h2.title Коротко о работе

					.main
						awesome-list.about-list(inline-template)
							+AwesomeList()

						base-content.content
							p.
								Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать придется
								долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше.

