mixin WorkSection()
	template
		section.WorkSection
			.content-box
				.content
					.content-overlay.content-overlay-is-left-top
					.content-overlay.content-overlay-is-left-bottom
					.content-overlay.content-overlay-is-right-top

					header.header
						h2.title Коротко о работе

					.main
						.text
							p.
								Мы не торопим вас с выбором веб-студии. Это очень важный выбор, потому что работать придется
								долго. Если мы до сих пор вас не убедили, то изучите наши преимущества дальше.

