mixin ZingySection()
	template
		section.zingy-section&attributes(attributes)
			.matrix
				.matrix-row optimi#[b z]ation
				.matrix-row des#[b i]gn
				.matrix-row developme#[b n]t
				.matrix-row marketin#[b g]
				.matrix-row strateg#[b y]

			.grid
				.content
					p #[strong ZINGY]&nbsp;— в&nbsp;переводе с&nbsp;англ. потрясающий, захватывающий
