mixin ZingySection()
	template
		section.ZingySection&attributes(attributes)
			.matrix
				.matrix-row optimi#[b z]ation
				.matrix-row des#[b i]gn
				.matrix-row developme#[b n]t
				.matrix-row marketin#[b g]
				.matrix-row strateg#[b y]

			.definition
				p #[strong ZINGY] — в переводе с англ. потрясающий, захватывающий
