mixin ZingySection()
	template
		section.ZingySection&attributes(attributes)
			.grid
				.grid-item optimi#[b z]ation
				.grid-item des#[b i]gn
				.grid-item developme#[b n]t
				.grid-item marketin#[b g]
				.grid-item strateg#[b y]

			.definition
				p #[strong ZINGY] — в переводе с англ. потрясающий, захватывающий
