include AppPageFooterNav

mixin AppPageFooterNavOfSection(navList = [], navName)
	app-page-footer-nav-of-section(inline-template)&attributes(attributes)
		+AppPageFooterNav().app-page-footer-nav-of-section(
			@mouseover.native="onNavBoxItemMouseOver"
			@mouseout.native="onNavBoxItemMouseOut"
		)
			transition
				.hoveritem(:style="hoverStyle")

			if navName
				.navname= navName

			.navgrid
				each item in navList
					.navgrid-item
						a.navitem(href="")= item
