include AppPageHeader
include AppPageFooter
include VZingysection

mixin AppPage()
	+defineTemplate('app-page')&attributes(attributes)
		div
			.main
				+AppPageHeader()
				block
				+AppPageFooter()

			.backface
				+VZingysection()
