include VSociallinks
include PageFooterNav

mixin AppPageFooter()
	-
		const data = {
			navMain: [
				'Главная',
				'Разработка',
				'Провижение',
				'О компании',
				'Блог',
				'Цены',
				'Контакты'
			],
			navDev: [
				'Разработка сайта-визитки',
				'Разработка интернет-магазина',
				'Разработка корпоративного сайта',
				'Разработка сайта на 1С-Битрикс',
				'Разработка промо-сайта',
				'Разработка личного кабинета',
				'Разработка веб-дизайна',
				'Интеграция'
			],
			navSeo: [
				'Продвижение по трафику',
				'Продвижение по запросам',
				'Провижение по лидам',
				'Вывод из-под санкций',
				'Контекстная реклама',
				'SEO продвижение'
			]
		}

	+defineTemplate('app-page-footer')&attributes(attributes)
		footer
			.contentbox
				h2.heading Контакты
				.zingyprojects

				.contentgrid
					.contentgrid-item
						.contactsgrid
							.contactsgrid-item
								.text
									p E-mail: #[br]#[a(href="mailto:zingy.projects@gmail.com") zingy.projects@gmail.com]
									p Телефон: #[br]#[a(href="tel:+79854575817") +7 (985) 457-58-17]

							.contactsgrid-item
								+VSociallinks()

							.contactsgrid-item
								.text.textcopyright
									p &copy;&nbsp;2008&ndash;2019. Все&nbsp;права&nbsp;защищены

					.contentgrid-item
						+page-footer-nav(data.navMain).-main

					.contentgrid-item
						+page-footer-nav(data.navDev, 'Разработка').-section(hover)

					.contentgrid-item
						+page-footer-nav(data.navSeo, 'Продвижение').-section(hover)
