include FooterPage
include AboutZingy

mixin base-page()
	base-page(inline-template)&attributes(attributes)
		.base-page
			.front-layout
				block
				+footer-page()

			.back-layout
				+about-zingy()
