mixin footer-page()
	footer-page(inline-template)&attributes(attributes)
		footer.footer-page
			.container
				h2.title Контакты

				.row
					.col
						.contacts
							p E-mail: #[a(href="mailto:zingy.projects@gmail.com") zingy.projects@gmail.com]
							p Телефон: #[a(href="tel:+79854575817") +7 (985) 457-58-17]

						.contacts
							p &copy;&nbsp;2008&mdash;2019. Все права защищены

					.col.nav-main 2
					.col.nav-section 3
					.col.nav-section 4
