include SocialMedia

mixin page-footer()
	page-footer(inline-template)&attributes(attributes)
		footer.page-footer
			.container
				h2.title Контакты

				.row
					.col
						.row
							.col
								.content
									p E-mail: #[a(href="mailto:zingy.projects@gmail.com") zingy.projects@gmail.com]
									p Телефон: #[a(href="tel:+79854575817") +7 (985) 457-58-17]

							.col
								+social-media().-justify-center

							.col
								.content.-copyright
									p &copy;&nbsp;2008&mdash;2019. Все&nbsp;права&nbsp;защищены

					.col 2
					.col 3
					.col 4
