include PageFooter
include ZingyDefinition

mixin page-layout()
	page-layout(inline-template)&attributes(attributes)
		.page-layout
			.front-box
				block
				+page-footer()

			.back-box
				+zingy-definition()
