mixin page-footer-nav-box(navList = [])
	page-footer-nav-box(inline-template)&attributes(attributes)
		.page-footer-nav-box(
			@mouseover="onNavBoxItemMouseOver"
			@mouseout="onNavBoxItemMouseOut"
		)
			transition
				.hover(
					v-if="hasHover"
					v-show="hoverShow"
					:style="hoverStyle"
				)

			.grid
				each item in navList
					.cell
						a.item(href="")= item
