include PageHeader
include PageFooter
include ZingyDefinition

mixin page-layout()
	page-layout(inline-template)&attributes(attributes)
		.page-layout
			.main
				+page-header()
				block
				+page-footer()

			.backface
				+zingy-definition()
