include PageFooter
include ZingyDefinition

mixin page-layout()
	page-layout(inline-template)&attributes(attributes)
		.page-layout
			.front
				block
				+page-footer()

			.back
				+zingy-definition()
