mixin page-footer-nav(navList = [], navName)
	page-footer-nav(inline-template)&attributes(attributes)
		.page-footer-nav(
			@mouseover="onNavBoxItemMouseOver"
			@mouseout="onNavBoxItemMouseOut"
		)
			transition
				.hover(
					v-if="hover"
					:style="hoverStyle"
				)

			if navName
				.name= navName

			.boxgroup
				each item in navList
					.box
						a.item(href="")= item
