mixin VSociallinks()
	-
		const socialMediaList = [
			'VK',
			'Facebook',
			'Twitter',
			'Google+',
			'Instagram'
		]

	+defineTemplate('v-sociallinks')&attributes(attributes)
		nav
			.linksgrid
				each iconName in socialMediaList
					.linksgrid-item
						a.linkitem(
							href=""
							title=iconName
							target="_blank"
						)
							base-icon(icon-name=iconName.toLowerCase())
