mixin zingy-definition()
	zingy-definition(inline-template)&attributes(attributes)
		.zingy-definition
			.zingy
				.str optimi#[b z]ation
				.str des#[b i]gn
				.str developme#[b n]t
				.str marketin#[b g]
				.str strateg#[b y]

			.definition
				p #[strong ZINGY] — в переводе с англ. потрясающий, захватывающий
