mixin zingy-definition()
	zingy-definition(inline-template)&attributes(attributes)
		.zingy-definition
			.zingy
				.zingy-str.str-1 optimi#[b z]ation
				.zingy-str.str-2 des#[b i]gn
				.zingy-str.str-3 developme#[b n]t
				.zingy-str.str-4 marketin#[b g]
				.zingy-str.str-5 strateg#[b y]

			.definition
				p #[strong ZINGY] — в переводе с англ. потрясающий, захватывающий
