extends index

include chunks/sticky-container-layout
include components/AppArticle

append vars
	-
		title = 'Статья';

block app
	app-page(inline-template)
		+AppPage()
			a.link-backward(
				v-if="linkBackwardShown"
				href="blog.html"
			) Вернуться в блог

			transition-box
				a.link-up(
					v-if="linkUpShown"
					href="#"
					@click.prevent="scrollUp"
				)
					base-icon.link-up-icon(name="angle-left")

			.grid
				+AppBreadcrumb([['Главная', 'index.html'], ['Блог', 'blog.html'], ['Статья', 'article.html']]).app-page-breadcrumb

				+sticky-container-layout()
					app-article.app-page-article(inline-template)
						+AppArticle()

			content-section.app-page-content-section
				h2 Контентный блок

				p.
					Для эксплуатации бани главным требованием будет сохранение тепла и пара внутри помещения,
					беспроблемное использование в условиях повышенной влажности. Важно предусмотреть хорошую
					гидроизоляцию, что предупредит преждевременный износ здания.

				p.
					На собственном участке обязательно стоит выделить место под уютную баньку или сауну.
					Это место отдыха и встреч с друзьями, дружных посиделок и лечебных процедур.
					При обустройстве особое внимание уделяется отделке бани внутри.

			content-section.app-page-content-section
				h2 Контентный блок с таблицей

				table
					thead
						tr
							th №
							th Наименование работ
							th Ед. изм.
							th Цена, ₽ (работы)

					tbody
						tr
							td(data-title="№"): div 1
							td(data-title="Наименование работ"): div Устройство контр-обрешетки и каркаса из брусков с утеплением
							td(data-title="Ед. изм."): div м#[sup 2]
							td(data-title="Цена, ₽ (работы)"): div #[small Цена]&nbsp;#[strong 600]&nbsp;₽

						tr
							td(data-title="№"): div 2
							td(data-title="Наименование работ"): div Пароизоляция
							td(data-title="Ед. изм."): div м#[sup 2]
							td(data-title="Цена, ₽ (работы)"): div #[small Цена]&nbsp;#[strong 55]&nbsp;₽

						tr
							td(data-title="№"): div 3
							td(data-title="Наименование работ"): div Подключение воды, канализации, сливного трапика
							td(data-title="Ед. изм."): div шт.
							td(data-title="Цена, ₽ (работы)"): div #[small Цена]&nbsp;#[strong от&nbsp;2000]&nbsp;₽

						tr
							td(data-title="№"): div 4
							td(data-title="Наименование работ"): div Монтаж эл. щитка, с УЗО, автоматами и разводкой кабелей
							td(data-title="Ед. изм."): div комплекс
							td(data-title="Цена, ₽ (работы)"): div #[small Цена]&nbsp;#[strong от&nbsp;2000]&nbsp;₽

						tr
							td(data-title="№"): div 5
							td(data-title="Наименование работ"): div Монтаж вагонки на стены и потолок
							td(data-title="Ед. изм."): div м#[sup 2]
							td(data-title="Цена, ₽ (работы)"): div #[small Цена]&nbsp;#[strong 600]&nbsp;₽
