extends index

include chunks/sticky-container-layout
include components/AppArticle

append vars
	-
		title = 'Статья';

block app
	app-page(inline-template)
		+AppPage()
			a.link-backward(
				ref="linkBackward"
				href="blog.html"
			) Вернуться в блог

			a.link-up(
				ref="linkUp"
				href="#"
			)
				base-icon.link-up-icon(name="angle-left")

			.grid
				nav.app-page-breadcrumb(is="app-breadcrumb")
					a(href="index.html") Главная
					a(href="blog.html") Блог
					| Статья

				+sticky-container-layout()
					app-article.app-page-article(inline-template)
						+AppArticle()
