extends index

append vars
	-
		title = 'Контакты';

block app
	app-page.theme-dark(inline-template)
		+AppPage()
			.contacts-box
				zingy-world.app-page-zingy-world

				.grid
					nav.app-page-breadcrumb(is="app-breadcrumb")
						a(href="index.html") Главная
						| Контакты

					h1.app-page-title(
						is="base-title"
						tag="h1"
					) Контакты

			feedback-section.app-page-feedback-section(inline-template)
				+FeedbackSection()
