extends index

include components/AppPageContacts

append vars
	-
		title = 'Контакты';

block app
	app-page.theme-dark(inline-template)
		+AppPage()
			.contacts-box
				zingy-world.app-page-zingy-world

				.grid
					+AppBreadcrumb([['Главная', 'index.html'], ['Контакты', 'contacts.html']]).app-page-breadcrumb

					h1.app-page-title(
						is="base-title"
						tag="h1"
					) Контакты

					.grid-row
						.grid-cell.grid-cell-10.x-center
							app-page-contacts.contacts(inline-template)
								+AppPageContacts()

			app-gmap.app-page-gmap
