extends index

append vars
	-
		title = 'Разработка сайтов';

block app
	app-page(inline-template)
		+AppPage()
			.grid
				+AppBreadcrumb([['Главная', 'index.html'], ['Услуги', 'services.html'], ['Разработка сайтов', 'development.html']]).app-page-breadcrumb

			section(is="fancy-section")
				h2.title(slot="title") Создание сайтов под ключ
					span Foo

			page-section.app-page-section(inline-template)
				+PageSection('Наши работы')
					app-carousel-of-works.app-page-works-carousel(inline-template)
						+AppCarouselOfWorks()

			work-section.app-page-work-section(inline-template)
				+WorkSection('Почему выбирают нас')

			page-section.app-page-section(inline-template)
				+PageSection('Отзывы')
					app-carousel-of-reviews.app-page-reviews-carousel(inline-template)
						+AppCarouselOfReviews()
