extends layout

include components/PageHeaderNav
include components/AppPageIsIndex

append vars
	-
		title = 'Главная';

block templates
	+PageHeaderNav()

block app
	app-page-is-index(inline-template)
		+AppPageIsIndex()
