extends layout

include components/PageHeaderNav
include components/AppPageIsIndex

append variables
	-
		title = 'Главная';

block templates
	+PageHeaderNav()

block app
	app-page-is-index(inline-template)
		+AppPageIsIndex()

	//-base-foo
	//-base-foo-ext-outer
