extends layout

include components/AppHeaderNav
include components/AppPageIsIndex

append vars
	-
		title = 'Главная';

block templates
	+AppHeaderNav()

block app
	app-page-is-index(inline-template)
		+AppPageIsIndex()
