extends index

append vars
	-
		title = 'Разработка сайтов';

block app
	app-page(inline-template)
		+AppPage()
			.grid
				-
					const breadcrumbs = [
						['Главная', 'index.html'],
						['Услуги', 'services.html'],
						['Разработка', 'development.html'],
						['Создание сайтов под ключ', 'service.html']
					];

				+AppBreadcrumb(breadcrumbs).app-page-breadcrumb

			section(
				is="fancy-section"
				scroll-down
			)
				// Available slots: `header`, `title`, `default`, `footer`, `buttons`

				h1(slot="title") Создание сайтов под ключ

				p.
					Говорят, что сайты уже никому не&nbsp;нужны, ведь &laquo;Все покупают в&nbsp;соцсетях&raquo;!
					Мы&nbsp;считаем, что это не&nbsp;так.
					Даже если вы&nbsp;продаете товары только в&nbsp;Instagram и&nbsp;получаете хорошую прибыль, помните&nbsp;&mdash; страничку
					можно потерять за&nbsp;пару минут. Поэтому сайт&nbsp;&mdash; более надежный инструмент для получения прибыли.

				p.
					#[strong Мы&nbsp;делаем сайты качественно&nbsp;&mdash; без использования шаблонных решений и&nbsp;неадекватного дизайна]

				a(
					slot="buttons"
					href="#feedback-section"
				) Заказать сайт

			page-section.app-page-section(inline-template)
				+PageSection('Наши работы')
					app-carousel-of-works.app-page-works-carousel(inline-template)
						+AppCarouselOfWorks()

			work-section.app-page-work-section(inline-template)
				+WorkSection('Почему выбирают нас')

			page-section.app-page-section(inline-template)
				+PageSection('Отзывы')
					app-carousel-of-reviews.app-page-reviews-carousel(inline-template)
						+AppCarouselOfReviews()
