extends ../index

block head-styles
	<link href="https://fonts.googleapis.com/css?family=Exo+2:300,400,400i,500,500i,700&display=swap&subset=cyrillic,latin-ext" rel="stylesheet">

	style.
		:root {
			--font-family: 'Exo 2', sans-serif !important;
		}
