mixin BaseField()
	.host.base-field&attributes(attributes)
		input(
			:class="['input', {'is-invalid': error}]"
			v-bind="$attrs"
			:value="value"
			@input="$emit('input', $event.target.value)"
		)
