extends ../index

block head-styles
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,400i,500,500i,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">

	style.
		:root {
			--font-family: 'IBM Plex Sans', sans-serif !important;
		}
