@import "~normalize.css";

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700&subset=cyrillic,cyrillic-ext,latin-ext');

/*@import "assets/fonts/Roboto/stylesheet.css";*/

:root {
	/*Browser dependent properties*/
	--font-family: Roboto, Arial, sans-serif;
	--text-align: left;
	--quotes: "“" "”" "‘" "’";
	--color: #0a0a0a;
	--outline-color: #000000;

	--color-accent: #e04b4a;
	--color-link: #e04b4a;
	--color-error: #e04b4a;
	--color-zingy: #252525;

	--font-size: range(1.6rem, 1.8rem);
	--font-weight: 400;
	--line-height: 1.6;

	--h1_font-size: scale-down(4.8rem, 0.56);
	--h2_font-size: scale-down(2.8rem, 0.9);
	--h3_font-size: scale-down(2.4rem, 0.9);
	--h4_font-size: scale-down(2.2rem, 0.9);
	--h5_font-size: scale-down(2rem, 0.9);
	--h6_font-size: scale-down(1.8rem, 0.9);

	--grid_width: env(--grid_width);
	--grid_padding: range(10px, 40px);
	--grid-row_margin: -10px;
	--grid-cell_padding: 10px;

	--disabled_opacity: 0.5;

	--overlay_background-color: rgba(#000000, 0.2);

	--body-scroll-locked_padding: 0;

	font-size: percentage(10 / 16);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	scroll-behavior: smooth;
}

body {
	background-color: #222222;
}

:focus:not(:focus-visible) {
	outline: none;
}

:focus-visible {
	outline: 1px dotted currentColor;
	outline: 5px auto -webkit-focus-ring-color;
}

::selection {
	color: white;
	background-color: var(--color-accent);
}
