@import "~normalize.css";

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700&subset=cyrillic,cyrillic-ext,latin-ext');

//@import "assets/fonts/Roboto/stylesheet.css";

:root {
	// Browser dependent properties
	--quotes: "“" "”" "‘" "’";
	--font-family: Roboto, Arial, sans-serif;
	--text-align: left;
	--color: #0a0a0a;
	--outline-color: #000;

	--color-accent: #e04b4a;
	--color-link: #e04b4a;
	--color-zingy: #252525;

	--font-size: range(1.6rem, 1.8rem);
	--font-size-h1: scale-down(4.8rem, 0.56);

	--grid-width: env(--grid-width);
	--grid-padding: range(10px, 40px);
	--grid-row-margin: -10px;
	--grid-cell-padding: 10px;

	font-size: percentage(10 / 16);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:focus:not(:focus-visible) {
	outline: none;
}

:focus-visible {
	outline: 1px dotted currentColor;
	outline: 5px auto -webkit-focus-ring-color;
}

::selection {
	color: white;
	background-color: var(--color-accent);
}
